body{
    background-color: rgb(195, 152, 236);
}
.przywitanie{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(90, 1, 173);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.61);
}
img{
    width: 400px;
    height: 500px;
    border-radius: 50px;
   
}
.zdjecia{
    text-align: center;
 padding: 5px;
}
.zdjecia_2{
    
  
    text-align: center;
}
.przywitanie_1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(218, 8, 18)
    
}